<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Masacre en la granja | Chat</title>

</head>

<body>
	<!-- <div th:replace="fragments/chat.html :: chat"> -->
	<th:block th:fragment="chat">
		<textarea id="recibido" cols="80" rows="10" readonly="readonly">
		</textarea>
		<form id="escrito">
			<input id="texto" size="80" placeholder="escribe algo y pulsa enter para enviarlo" />
		</form>

		<script>
			window.addEventListener('load', () => {
				// envio	
				const lineInput = document.getElementById("texto");
				document.getElementById("escrito").onsubmit = (e) => {
					var text = lineInput.value;
					const headers = {
						"Content-Type": "application/json",				
						"X-CSRF-TOKEN": config.csrf.value
					};
					const params = {
						method: 'POST',
						headers: headers,
						body: text
					}
					fetch("/api/chat/enviar",params).then((response) => {
						if (response.status == 200){
							lineInput.value = "";
							document.getElementById('recibido').scrollTop = document.getElementById('recibido').scrollHeight;
						}
					});

					return false;
				}
			});
		</script>
	</th:block>
</body>

</html>