<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Masacre en la granja | Chat</title>
	<th:block th:replace="fragments/head :: header"/>

</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	<div th:replace="fragments/footer.html :: bootstrap">
		Nav goes here
	</div>
	<th:block th:fragment="chat">
	<div class="container">
	<div class="main">
	
		<div class="starter-template">
			<h1>Chat</h1>
			<p class="lead">Ejemplo de uso de websockets. Usa <code>@nick texto</code> para enviar 
			ese texto a ese nick, y <code>@all texto</code> para enviárselo a todos. Ojo: depende del 
			IwSocketHandler hacer que esto funcione o no; y según se configure, puede que recibas
			fragmentos de JSON que nada tienen que ver con el chat.</p>		
			<textarea id="recibido" cols="80" rows="10">
			</textarea>
			<form id="escrito">
			<input id="texto" size="80" placeholder="escribe algo y pulsa enter para enviarlo"/>
			</form>
		</div>

	</div>
	</div>
	
	<script>
	window.addEventListener('load', () => {
		// envio	
		const lineInput = document.getElementById("texto");
		document.getElementById("escrito").onsubmit = (e) => {
			var text = lineInput.value;
			ws.send(text);
			lineInput.value = ""
			return false;
		}
	
		// recepcion
		const lineOutput = document.getElementById("recibido");
		ws.receive = (text) => {
			lineOutput.value = lineOutput.value + '\n' + text;
		}
	});
	</script>
	</th:block>
</body>
</html>
