<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Masacre en la granja | Chat</title>
	<th:block th:replace="fragments/head :: header"/>

</head>
<body>
	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	<div th:replace="fragments/footer.html :: bootstrap">
		Nav goes here
	</div>
	<!-- <div th:replace="fragments/chat.html :: chat"> -->
	<th:block th:fragment="chat">
		<textarea id="recibido" cols="80" rows="10">
		</textarea>
		<form id="escrito">
			<input id="texto" size="80" placeholder="escribe algo y pulsa enter para enviarlo"/>
		</form>
	
		<script>
		window.addEventListener('load', () => {
			// envio	
			const lineInput = document.getElementById("texto");
			document.getElementById("escrito").onsubmit = (e) => {
				var text = lineInput.value;
				ws.send(text);
				lineInput.value = ""
				return false;
			}
		
			// recepcion
			const lineOutput = document.getElementById("recibido");
			ws.receive = (text) => {
				lineOutput.value = lineOutput.value + '\n' + text;
			}
		});
		</script>
	</th:block>
</body>
</html>
