<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Masacre Masacradora</title>
	<th:block th:fragment="header">
	<meta charset="utf-8">
	<link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" type="text/css"/>
	<script type="text/javascript">
		const config = {
			socketUrl: '[[${session.ws}?:false]]',
			csrf: {
				name: "[[${_csrf.parameterName}]]",
				value: "[[${_csrf.token}]]"
			},
			admin: [[${session.user != null && session.user.hasRole('admin')}?'true':'false']],
			userId: [[${session.user != null}?${session.user.id}:-1]]
		};
		
		/**
		 * Creates a new voting form based on a question's data. Also
		 * appends it wherever it should go.
		 * 
		 * @param data (as returned by the server after adding a question)
		 * @returns nothing
		 */
		function addQuestion(data) {
			const questionDiv = document.createElement("div");
			const canDelete = (data.author.id == km.userId) || km.admin;
			const deleteButton = canDelete ?
				'	<button class="delq">🗑</button>' :
				'	<!-- cannot delete -->';
			console.log(deleteButton, canDelete, data.author.id, km.userId, km.admin);
			questionDiv.classList.add("question");
			questionDiv.id = "q_" + data.id;
			questionDiv.innerHTML = [
				'<form class="vote" action="' + km.voteApiUrl + data.id + '" method="post">',
				'	<div class="metadata">',
				'		<span class="delta" data-timestamp="' + Number(new Date(data.time)) + '">??</span>',
				'		<img class="userthumb" alt="' + data.author.login + '" ', 
				'			 src="/user/' + data.author.id + '/photo">',
				'	</div>',
				'	<div class="bars">',
				'	<div class="me">',
				'		<span class="barlabel">👤</span>',
				'		<input type="range" name="vote" min="0" max="100" value="0"/>',
				'		<span class="numeric">??</span>',
				'	</div>',
				'	<div class="others">',
				'		<span class="barlabel">👥 ×0</span>',
				'		<input disabled type="range" min="0" max="100" value="0"/>',
				'		<span class="numeric">??</span>',
				'	</div>',
				'	</div>',
				'	<span class="qtext">' + data.text + '</span>',
				deleteButton,
				'</form>'].join('\n');	
			document.querySelector(data.poll ? ".polls" : ".questions").append(questionDiv);
			addVoteListener(questionDiv.querySelector(".vote"));
		}

		/**
		 * WebSocket API, which only works once initialized
		 */
		const ws = {
				
			/**
			 * WebSocket, or null if none connected
			 */
			socket: null,
			
			/**
			 * Sends a string to the server via the websocket.
			 * @param {string} text to send 
			 * @returns nothing
			 */
			send: (text) => {
				if (ws.socket != null) {
					ws.socket.send(text);
				}
			},

			/**
			 * Default action when text is received. 
			 * @returns
			 */
			receive: (text) => {
				console.log(text);
			},
			
			/**
			 * Attempts to establish communication with the specified
			 * web-socket endpoint. If successfull, will call 
			 * @returns
			 */
			initialize: (endpoint) => {
				try {
					ws.socket = new WebSocket(endpoint);
					ws.socket.onmessage = (e) => ws.receive(e.data);
					console.log("Connected to WS '" + endpoint + "'")
				} catch (e) {
					console.log("Error, connection to WS '" + endpoint + "' FAILED: ", e);
				}
			}
		} 
		
		/**
		 * Actions to perform once the page is fully loaded
		 */
		window.addEventListener('load', () => {
			if (config.socketUrl !== false) {
				ws.initialize(config.socketUrl);
			}

		});

	</script>
	</th:block>
</head>
<body>
	Head fragment - rest intentionally left empty.
</body>
</html>

