<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Nav fragment</title>
</head>
<body>
	<nav th:fragment="nav">

		<span class="logx" th:if="${session.user != null}">
			<a th:href="@{/user/searchGame/}"> Game </a>
        	<a th:href="@{/}"> Stats </a>
        	<a th:href="@{/reglas}"> Rules </a>
        	<a th:href="@{/faq}">FAQ</a>
        	<div class="loggedUser">
        		<img th:src="@{/user/{id}/photo(id=${session.user.id})}" class="img-fluid">
        		<div class="info">
					<a th:href="@{/user/{id}(id=${session.user.id})}" th:text="${session.user.name}">Pepe</a>
					<a th:href="@{/user/logout}" href="/user/logout">logout</a>
				</div>
			</div>
		</span>
		<span class="logx" th:if="${session.user == null}">
			<a th:href="@{/login}" href="/login">login</a>
			<a th:href="@{/user/register}" href="/user/register">register</a>
		</span>	
	</nav>
</body>
</html>
