<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Nav fragment</title>
</head>
<body>
	<nav th:fragment="nav">

		<span class="logx" th:if="${session.user != null}">
			<a>Partida</a>
        	<a th:href="@{/estadisticas}" href="/estadisticas">Estadísticas</a>
        	<a th:href="@{/reglas}" href="/reglas">Reglas</a>
        	<a th:href="@{/faq}" href="/faq">FAQ</a>
			<a th:href="@{/user/{id}(id=${session.user.id})}" th:text="${session.user.name}">Pepe</a>
			<a th:href="@{/user/logout}" href="/user/logout">logout</a>
		</span>
		<span class="logx" th:if="${session.user == null}">
			<a th:href="@{/user/login}" href="/user/login">login</a>
			<a th:href="@{/user/register}" href="/user/register">register</a>
		</span>	
	</nav>
</body>
</html>
