@import url('https://fonts.googleapis.com/css?family=Felipa');

* {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

body {
	background-color: #5c1414;
	font-family: 'Felipa', cursive;
}
nav {
	display: flex;
	background-image: linear-gradient(to bottom right, rgb(31, 30, 30) , rgb(63, 63, 63));
	color: rgb(184, 183, 183);

	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;

	align-items: center;
	justify-content: space-evenly;
	min-height: 60px;
}

.logx{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

div.loggedUser{
	display: flex;
	flex-direction: row;
}


div.info{
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	align-items: center;
	margin: 2%;
}


.userInfo{
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to bottom right, #acaba1, #d4d4cb);
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	width: 38vw;
	height: 20vw;
	padding: 15px;
	border-radius: 8px;
	color: #161616;
	font-size: 20px;
}

img{
	display: flex;
	justify-self: center;
	align-self: center;
	border-radius: 50%;
	width: 5vw;
	height: 5vw;
}

main {
	display: flex;
	flex-direction: column;
	background-color: #4d0b0b;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding:auto;
	border-radius: 8px;
	color: #161616;
}
button {
	background-color: #161616;
	color: #ff5151;
	padding: 10px;
	border-radius: 5px;
}
table{
	border-spacing: 2px;
	background-image: linear-gradient(to bottom right, #acaba1, #d4d4cb);
}
th {
	text-align: center;
	border: solid 1px;
}
td {
	text-align: center;
	border: solid 1px;
}

a:-webkit-any-link {

	cursor: pointer;
	text-decoration: none;
	color: white;
}

a:-webkit-any-link:hover {
	color: darkgrey;
}

a:-webkit-any-link:active {
	color: darkred;
}


button{
	color: #d4d4cb;
	background-color: rgb(63, 63, 63);
}

button:hover{
	background-color: rgb(53, 52, 52);
}

button:active{
	background-color: rgb(44, 44, 44);
}