@import url('https://fonts.googleapis.com/css?family=Asul');
body {
    background-color: #5c1414;
    font-family: 'Asul', sans-serif;
}



.logx{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

div.loggedUser{
    display: flex;
    flex-direction: row;
}


div.info{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    margin: 2%;
}


.userInfo{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #acaba1, #d4d4cb);
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 38vw;
    height: 20vw;
    padding: 15px;
    border-radius: 8px;
    color: #161616;
    font-size: 20px;
}

img{
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
}

main {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #acaba1, #d4d4cb);
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 20vw;
    padding: 2%;
    border-radius: 8px;
    color: #161616;
}

.codigo {
    align-self: center;
}

.miembros {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
    font-size: 1.5vw;
    height: auto;
}

.nombre {
     text-align: center;
     width: 25vw;
     height: 3vw;
     overflow: hidden;
}

.acciones {
     margin-top: 5%;
     display: flex;
     justify-content: space-evenly;ace-evenly;
     width: 100%;
     height: 100%;
}

form{
    width: 25vw;
    height: 4vw;
    justify-content: space-evenly;
    align-content: center;
}

.boton {
    font-size: 1.5vw;
    background-color: rgb(63, 63, 63);
    color: rgb(196, 196, 196);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 4vw;
    border: solid 4px;
    border-color: #4d0b0b #711818 #711818 #4d0b0b;
}

.boton:hover{
    background-color: rgb(49, 49, 49);
}

.boton:active{
    background-color: rgb(43, 42, 42);
}

.gameID {
    text-align: center;
    width: 100%;
    margin: 2%;
}

.gameID * {
    font-size: 5vw;
    font-weight: bold;
}
