@import url('https://fonts.googleapis.com/css?family=Asul');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #5c1414;
}

div.contenedor_principal{
    width: 100%;
    height: 49vw;
    list-style: none;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 50% 25%;
    align-content: center;
    background-color: #5c1414;
    font-family: 'Asul', sans-serif;
}

div.notas{
    width: 100%;
    height: 100%;
    color: white;
}

h2{
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin: 1%;
}

div.partida{
    display: flex;
    justify-content: center;
    color: rgb(120, 33, 18);
    background-color: rgb(29, 28, 28);
    background-image: radial-gradient(circle, rgb(36, 35, 35), rgb(29, 28, 28), black);
}

h1{
    font-size: 5vw;
}

div.mesa{
    width: 96%;
    height: 96%;
    border-radius: 10%;
    border: solid;
    display: flex;
     background-image: url("../img/marble.jpg");
    justify-content: space-evenly;
    align-content: space-between;
    align-self: center;
    color:black;
}
.textLog
{
    width: 85%;
    height: 15%;
    border-radius: 3px;
    border-color: black;
    background-color: rgb(190, 93, 74);
    scroll-behavior: smooth;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 1vw;
}
ul{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-template-columns: 10vw 10vw;
    grid-template-rows: 10vw 10vw 10vw 10vw;
}   

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

div.player{
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
}

textarea{
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 1.5vw;
	font-family: 'Asul', sans-serif;
}

::placeholder{
	font-family: 'Asul', sans-serif;
}

div.card{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 4px;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-color: rgb(120, 33, 18);
    align-self: center;
    cursor: pointer;
    display: flex;
	justify-content: center;
}

div.playerNo
{
    width: 37%;
    height: 3.5%;
    float:left; /* add this */
    border-radius: 3px;
    display: flex;
    padding: 0.1vw 0;
    text-align: center;
    font-size: 1.5vw;
    justify-content: center;
    align-content: center;
    background-color: white;
    opacity: 0.5;
    margin-right: 0.1vw;
    margin-left: 3vw;
    margin-top: 3.7vw;
}

div.playerRol
{
    width: 37%;
    height: 3.5%;
    border-radius: 3px;
    float: right; /* add this */
    display: flex;
    padding: 0.1vw 0;
    text-align: center;
    font-size: 1.5vw;
    justify-content: center;
    align-content: center;
    background-color: white;
    opacity: 0.5;
    margin-right: 4.3vw;
    margin-left: 0.1vw;
    margin-top: 3.7vw;
}
.notes{
    width: 85%;
    height: 5%;
    padding: 0.3vw 0;
    text-align: center;
    font-size: 2vw;
    border-radius: 20px;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-color: rgb(120, 33, 18);
    color: white;
    margin-right: 3vw;  
    margin-left: 3vw;
    margin-top: 1vw;
}

#controls{
    position: relative;
    width: 50vw;
    height: 13vw;
    background-image: linear-gradient(to bottom right, #acaba1, #d4d4cb);
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: 2vw;
    top: -50%;
    left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
}

#AllControls{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background: none;
    border: none;
    margin-bottom: 2%;
}

#finalizar_partida{
    position: relative;
    width: 40vw;
    height: 11vw;
    background-image: linear-gradient(to bottom right, #acaba1, #d4d4cb);
    top: -35%;
    left: 10%;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
}

form{
    width: 15vw;
    height: 5vw;
}


#finalizar_partida .boton {
    background-color: rgb(63, 63, 63);
    color: rgb(196, 196, 196);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px;
    border-color: #4d0b0b #711818 #711818 #4d0b0b;
    font-family: 'Asul', sans-serif;
    width: 100%;
    height: 100%;
    margin: 1%;
    font-size: 2vw;
}

#finalizar_partida  .boton:hover{
    background-color: rgb(49, 49, 49);
}

#finalizar_partida  .boton:active{
    background-color: rgb(43, 42, 42);
}

#finalizar, #perfil{
	background-color: rgb(120, 33, 18);
    width: 100%;
    text-align: center;
    border-radius: 4px;
    border: solid;
    border-color: black;
    background-color: rgb(120, 33, 18);
    color: white;
    cursor: pointer;
    padding: 4%;
}

.control{
    width: 13vw;
    height: 3vw;
    text-align: center;
    border-radius: 4px;
    border: solid;
    border-color: black;
    border-width: 5px;
    background-color: rgb(120, 33, 18);
    color: white;
    margin-right: 1%;
    margin-left: 1%;
    cursor: pointer;
    align-content: center;
    justify-content: center;
}

div.chat{
    width: 85%;
    height: 40%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    opacity: 0.5;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 1vw;
}

div.chat input{
	width: 100%;
}

