

body {
    background-color: #5c1414;
}

.titulo{
    display: flex;
    font-size: 58PX;
    line-height: 225px;
    color: rgb(165, 165, 165);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    justify-content: center;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #acaba1, #d4d4cb);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 15px;
    border-radius: 8px;
    color: #161616;
}

form{
	display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.dato{
	display: flex;
	justify-content: space-between;
}