<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Crear grupo | Masacre en la granja</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{css/crear_grupo.css}">
</head>
<body>
    <nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
    <main>
        <div class="codigo">El código es: 7Q29jWz</div>
        <div class= "miembros">
            <div class ="nombre">Vlad</div>
            <div class ="nombre">Erzsébet</div>
            <div class ="nombre">Caín</div>
        </div>
        <div class="acciones">
            <div class="boton">Disolver</div>
            <div class="boton">Iniciar</div>
        </div>
    </main>
</body>
</html>