<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Masacre en la granja</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/elegirPartida.css}">
</head>
<body>
    <nav th:replace="fragments/nav.html :: nav">
    Nav goes here
    </nav>

    <main class="wrapper">
        <div class= "titulo">MASACRE EN LA GRANJA</div>
        <div class="contenedor">
            <form method="post" th:action="@{/lobby/select}">
                <input required name="gameID" placeholder="ID de Partida">
                <button type="submit" class="boton">Nueva Partida</button>
            </form>
        </div>
    </main>
</body>
</html>