<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head.html :: header"></th:block>
    <meta charset="UTF-8">
    <title> Error </title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/error.css}">
</head>
<body>
    <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
    </nav>
    <div class="container">
        <h1>Something went wrong!</h1>
       <img th:src="@{/img/confusedDog.jpg}">
    </div>
</body>
</html>