<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Estadísticas Jugador | Masacre en la granja</title>
		<link rel="stylesheet" type="text/css" media="screen" href="../css/estadisticas.css">

		<link href="c3-0.6.12/c3.css" rel="stylesheet">
		<script src="c3-0.6.12/docs/js/d3-5.4.0.min.js" charset="utf-8"></script>
		<script src="c3-0.6.12/c3.min.js"></script>
	</head>

	<body>
		<nav th:replace="fragments/nav.html :: nav">
			Nav goes here
		</nav>
		<main>
			<table>
				<thead>
					<tr>
						<th id="nombreJugador" colspan="2">Josito</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td id="partidasGanadas">Partidas ganadas: 74</td>
						<td id="partidasPerdidas">Partidas perdidas: 1</td>
					</tr>
					<tr>
						<td id="chart" colspan="2" height="280px">
							<script type="text/javascript">
								var chart = c3.generate({
								    data: {
								        // iris data from R
									    columns: [
									    	['vampiro', 15],
									    	['ciudadano', 50],
									    	['conde', 10]
									    ],
									    type : 'pie',
								        // onclick: function (d, i) { console.log("onclick", d, i); },
								        // onmouseover: function (d, i) { console.log("onmouseover", d, i); },
								        // onmouseout: function (d, i) { console.log("onmouseout", d, i); }
								    }
								});
							</script>
						</td>
					</tr>
					<tr>
						<th colspan="2">Logros</th>
					</tr>
					<tr>
						<td colspan="2"> Aun no tienes logros</td>
					</tr>
				</tbody>
			</table>
		<button onclick="location='estadisticas-globales.html'">Estadisticas Globales</button>
		</main>
	</body>
</html>