<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/faq.css}">
	<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/nav.css}">
	<title>FAQ | Masacre en la granja</title>
</head>

<body>

	<nav th:replace="fragments/nav.html :: nav">
		Nav goes here
	</nav>
	<div th:replace="fragments/footer.html :: bootstrap">
		Nav goes here
	</div>

<header>
	<h1>FAQ - Preguntas frecuentes</h1>
</header>

<div class="faq">
	<ul class="categorias-faq">
		<li><a href="#basicas">Básicas</a></li>
		<li><a href="#partidas">Partidas</a></li>
	</ul> <!-- categorias-faq -->

	<div class="items-faq">
		<ul id="basicas" class="grupo-faq">
			<li class="titulo-faq"><h2>Básicas</h2></li>
			<li>
				<a class="pregunta-faq" href="#0">¿Puedo elegir mi personaje?</a>
				<div class="respuesta-faq">
					<p>No, el reparto de personajes se hace de forma aleatoria,
							para mantener el suspense. ¿Tus amigos serán amigos o enemigos?</p>
				</div> <!-- respuesta-faq -->
			</li>
		</ul> <!-- grupo-faq -->

		<ul id="partidas" class="grupo-faq">
			<li class="titulo-faq"><h2>Partidas</h2></li>
			<li>
				<a class="pregunta-faq" href="#0">¿Cómo empiezo a jugar?</a>
				<div class="respuesta-faq">
					<p>
						¡Muy fácil! En la barra de navegación de la parte superior
						de la pantalla, pulsa sobre "Partida" y, luego,
						sobre "Partida Aleatoria" para ser colocado en una
						partida aleatoria con otros usuarios o sobre "Elegir Partida"
						para escoger una partida ya creada.
					</p>
				</div> <!-- respuesta-faq -->
			</li>

			<li>
				<a class="pregunta-faq" href="#0">¿Puedo crear una partida?</a>
				<div class="respuesta-faq">
					<p>Tememos que no, no es posible crear partidas privadas (al
							menos de momento).
					</p>
				</div> <!-- respuesta-faq -->
			</li>

			<li>
				<a class="pregunta-faq" href="#0">¿De cuántos jugadores son las partidas?</a>
				<div class="respuesta-faq">
					<p>
						Para que una partida se inicie necesita un mínimo de 8
						jugadores. Una vez llegado a ese número, se puede
						iniciar la partida pulsando en el botón "Iniciar".
					</p>
				</div> <!-- respuesta-faq -->
			</li>
		</ul>
	</div> <!-- items-faq -->
</div> <!-- faq -->
</body>
</html>