<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio de Sesión | Masacre en la granja</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/registro.css}">
</head>
<body>
<div th:replace="fragments/footer.html :: bootstrap">
    Nav goes here
</div>

    <div class= "titulo">MASACRE EN LA GRANJA</div>
    <div class="cuerpo">
    <div th:replace="fragments/debug.html :: debug">
    		debug goes here
		  </div>
        <h2>Inicio de sesión</h2>

        <div class="contenedor_datos">
            <form th:action="@{/login}" method="POST">
                <div class="dato name">
                    Nombre de usuario: <input required name="username" placeholder="Nombre de usuario" />
                </div>
                <div class="dato pass">
                    Contraseña: <input type="password" required name="password" placeholder="Contraseña"/>
                </div>
                <button type="submit">Iniciar sesión</button>
            </form>
            <form th:action="@{/user/register}" method="GET" enctype="multipart/form-data">
                <button type="submit">Registrarse</button>
            </form>
        </div>

    </div>
</body>
</html>