<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Masacre en la granja</title>
  <link rel="stylesheet" th:href="@{/css/inicio.css}" type="text/css" media="screen">
</head>
<body>
  <main class="wrapper">
          <div class= "titulo">MASACRE EN LA GRANJA</div>
          
          <div class="intro">
          	Estás a punto de entrar en un emocionante juego de rol online en el que un grupo de vampiros se
          	alían para chuparle la sangre a los pobres mortales de la granja, los cuales se verán olbigados 
          	a juzgar y clavar estacas a los vampiros hasta acabar con todos los chupasangre.
          </div>
          
          <div class="acciones">
          	<h3>¿Qué quieres hacer?</h3>
          	<form th:action="@{/login}" method="GET">
                <button type="submit">Iniciar sesión</button>
            </form>
            <form th:action="@{/user/register}" method="GET">
                <button type="submit">Registrarse</button>
            </form>
            <form th:action="@{/reglas}" method="GET">
                <button type="submit">Saber más</button>
            </form>
          </div>
  </main>
</body>
</html>