<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Masacre en la granja</title>
  <link rel="stylesheet" th:href="@{/css/inicio.css}" type="text/css" media="screen">
</head>
<body>
  <main class="wrapper">
          <div class= "titulo">MASACRE EN LA GRANJA</div>
          <ul>
            <a class="button">Buscar Partida</a>
            <a href="http://localhost:8080/crear_grupo.html" class="button">Crear Grupo</a>
            <a href="http://localhost:8080/estadisticas-globales.html" class="button">Estadísticas</a>
            <a href="http://localhost:8080/reglas.html" class="button">Reglas</a>
            <a href="http://localhost:8080/faq.html" class="button">FAQ</a>
          </ul>
          <ul th:class="|ruta_${algo}|">
          	<li th:each="x: ${xs}" th:text="${x}">Esto no se ve</li>
          </ul>
          <div th:replace="fragments/debug.html :: debug">
    		debug goes here
		  </div>
  </main>
</body>
</html>