<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Crear grupo | Masacre en la granja</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/lobby.css}">
</head>
<body>
<nav th:replace="fragments/nav.html :: nav">
    Nav goes here
</nav>
<div th:replace="fragments/footer.html :: bootstrap">
    Nav goes here
</div>
<main>
    <div class="miembros">
        <div class= "nombre" th:each="jugador : ${jugadores}">
            <td th:text="${jugador.name}">Nombre de Jugador</td>
        </div>
    </div>
    <div class="acciones">
        <form th:action="@{/lobby/leave}" method="POST" enctype="multipart/form-data">
            <button type="submit" class="boton">Abandonar</button>
        </form>
        <form th:action="@{/game}" method="POST" enctype="multipart/form-data">
            <button type="submit" class="boton">Iniciar</button>
        </form>
    </div>
</main>
</body>
</html>