<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Crear grupo | Masacre en la granja</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/lobby.css}">
</head>
<body>
<nav th:replace="fragments/nav.html :: nav">
    Nav goes here
</nav>
<main>
    <div class= "miembros">
        <div class="linea">
            <div class ="nombre">Vlad</div>
            <div class ="nombre">Erzsébet</div>
            <div class ="nombre">Caín</div>
        </div>

    </div>
    <div class="acciones">
        <div class="boton">Abandonar</div>
        <div class="boton">Iniciar</div>
    </div>
</main>
</body>
</html>