<!DOCTYPE html>
<html lang="es-ES" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Partida | Masacre en la granja </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/partida.css}">
    <th:block th:replace="fragments/head.html :: header"></th:block>
</head>

<body>
    <div class="contenedor_principal">
        <div class="notas">
            <ul class="cartas_y_jugadores">
                <li class="player_card 1">
                    <div class="player 1" id="player1">Player 1</div>
                    <textarea> </textarea>
                </li>
                <li class="player_card 2" id="jugador2">
                    <div class="player 2" id="player2">Player 2</div>
                    <textarea> </textarea>
                </li>
                <li class="player_card 3" id="jugador3">
                    <div class="player 3" id="player3">Player 3</div>
                    <textarea> </textarea>
                </li>
                <li class="player_card 4" id="jugador4">
                    <div class="player 4" id="player4">Player 4</div>
                    <textarea> </textarea>
                </li>
                <li class="player_card 5" id="jugador5">
                    <div class="player 5" id="player5">Player 5</div>
                    <textarea> </textarea>
                </li>
                <li class="player_card 6" id="jugador6">
                    <div class="player 6" id="player6">Player 6</div>
                    <textarea> </textarea>
                </li>
                <li class="player_card 7" id="jugador7">
                    <div class="player 7" id="player7">Player 7</div>
                    <textarea> </textarea>
                </li>
                <li class="player_card 8" id="jugador8">
                    <div class="player 8" id="player8">Player 8</div>
                    <textarea> </textarea>
                </li>
            </ul>
        </div>
    <div class = center>
        <div class="playerNo" id="plaNo">You are Player 1</div>
        <div class="playerRol" id="plaRol">VAMPIRE</div> 
        <div>
            <textarea rows="7" cols="50" class= "textLog" id="log" readonly></textarea>
        </div> 
        <div class="notes" id="note">
        </div>
        <div class="chat">
            <th:block th:replace="fragments/chat.html :: chat"></th:block>
        </div>
        <div id = "controls">
            <div class = "control", id = "controlA">Kill</div>
            <div class = "control", id = "controlB">Revive</div>
            <div class = "control", id = "controlC">Pass</div>
        </div>
        
    </div>
        <div class="mesa">
            <ul class="cartas_y_jugadores">
                <li class="player_card 1">
                    <div class="player 1" id="player1card">Player 1</div>
                    <div class="card 1" id="card1">Card 1</div>
                </li>
                <li class="player_card 2" id="jugador2">
                    <div class="player 2" id="player2card">Player 2</div>
                    <div class="card 2" id="card2">Card 2</div>
                </li>
                <li class="player_card 3" id="jugador3">
                    <div class="player 3" id="player3card">Player 3</div>
                    <div class="card 3" id="card3">Card 3</div>
                </li>
                <li class="player_card 4" id="jugador4">
                    <div class="player 4" id="player4card">Player 4</div>
                    <div class="card 4" id="card4">Card 4</div>
                </li>
                <li class="player_card 5" id="jugador5">
                    <div class="player 5" id="player5card">Player 5</div>
                    <div class="card 5" id="card5">Card 5</div>
                </li>
                <li class="player_card 6" id="jugador6">
                    <div class="player 6" id="player6card">Player 6</div>
                    <div class="card 6" id="card6">Card 6</div>
                </li>
                <li class="player_card 7" id="jugador7">
                    <div class="player 7" id="player7card">Player 7</div>
                    <div class="card 7" id="card7">Card 7</div>
                </li>
                <li class="player_card 8" id="jugador8">
                    <div class="player 8" id="player8card">Player 8</div>
                    <div class="card 8" id="card8">Card 8</div>
                </li>
            </ul>
        </div>
        <script src= "../static/js/partida.js" type="text/javascript"></script>
        <script src= "../static/js/modelo.js" type="text/javascript"></script>
    </div>
</body>
    

</html>