<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Partida | Masacre en la granja </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/partida.css}">
</head>
<body>
    <div class="contenedorPrincipal">
        <div class="notas">
            <ul th:each="u: ${userStats}" class="cartasYjugadores" >
                <li  th:class="${u.user.name}card" th:text="${u.user.name}">
                    <div th:class="${u.user.name}" th:id="${u.user.name}" th:text="${u.user.name}"></div>
                    <textarea> </textarea>
                </li>
            </ul>
        </div>
        <div class="chat">
            AQUÍ SE IMPLEMENTARÁ EL CHAT
        </div>
        <div class="mesa">
            <ul class="cartasYjugadores" th:each="u: ${userStats}">
                <li th:class="${u.user.name}card">
                    <div th:class="${u.user.name}" th:id="${u.user.name}" th:text="${u.user.name}"></div>
                    <div th:class="${u.user.name}card" th:id="${u.user.name}card"></div>
                </li>
            </ul>
        </div>

    </div>
</body>

</html>