@import url('https://fonts.googleapis.com/css?family=Felipa');

* {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

body {
	background-color: #252525;
	font-family: 'Felipa', cursive;
}
nav {
	display: flex;
	background-image: linear-gradient(to bottom right, rgb(15, 15, 15) , rgb(49, 49, 49));
	color: #ff5151;

	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;

	align-items: center;
	justify-content: space-evenly;
	min-height: 60px;
}

main {
	display: flex;
	flex-direction: column;
	background-color: #c4794d;
	margin-top: 8%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding:auto;
	border-radius: 8px;
	color: #161616;
}
button {
	background-color: #161616;
	color: #ff5151;
	padding: 10px;
	border-radius: 5px;
}
table{
	border-spacing: 2px;
}
th {
	text-align: center;
	border: solid 1px;
}
td {
	text-align: center;
	border: solid 1px;
}

.a-nav {
	border: none;
}

.a-nav:visited{
	color: white;
	text-decoration: none;
}

.a-nav:hover{
	color: #d14545;
	text-decoration: none;
}